<h1>Tickets</h1>

<table class="table">
  <tr>
    <th>Flight</th>
    <th>Seat</th>
    <th></th>
  </tr>
  <% @tickets.each do |t| %>
    <tr class="<%= t.checked_in ? 'success' : 'danger' %>">
      <td><%= t.flight.code %></td>
      <td><%= t.seat.row %> <%= t.seat.number %></td>
      <td>
        <% if t.checked_in %>
          <button class="btn btn-default" disabled>Checked In</button>
        <% else %>
          <%= link_to 'Check in', ticket_path(t, "ticket[checked_in]" => true), method: :patch, class: 'btn btn-success' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
